.boat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(255, 249, 249, 0.511);
    padding-top: 50px;
  }
  
  .boat {
    width: calc(30% - 20px); /* Adjust the width of each boat item */
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox for boat layout */
  }
  
  .boat img {
    width: 50%; /* Adjust the width of the image container */
    border-radius: 10px;
    margin-right: 10px; /* Add some space between image and details */
  }
  
  .boat-details {
    width: 50%; /* Adjust the width of the details container */
  }
  
  .boat-info {
    text-align: left;
  }
  .boat-info p{
    font-weight:bolder;
  }
  
  @media (max-width: 768px) {
    .boat {
      width: calc(45% - 20px); /* Adjust width for smaller screens */
    }
  }
.head h1{
    color: black;
    padding-top: 50px;
}